/* Tooltip container */
.block_point_view.reactions-container .withtooltip {
    position: relative;
    display: inline-block;
    pointer-events: none;
}

/* Tooltip text */
.block_point_view.reactions-container .withtooltip .tooltiptext {
    visibility: hidden;
    display: table;
    width: max-content;
    background-color: #555;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 20px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 2;
    bottom: 30px;
    left: 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.block_point_view.reactions-container .withtooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.block_point_view.reactions-container .withtooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Source for tooltip : https://www.w3schools.com/css/css_tooltip.asp */


/**********************/
/* Reactions position */
.block_point_view.reactions-container {
    z-index: 1;
    position: relative;
}

.block_point_view.reactions-container ~ .mod-indent-outer,
.block_point_view.reactions-container ~ div .mod-indent-outer {
    max-width: 80%;
}

.block_point_view.reactions-container .reactions {
    position: absolute;
    right: -18px;
    top: 0;
    user-select: none;
}

.block_point_view.reactions-container .group {
    position: absolute;
    right: 50px;
    top: 0;
}

/**********************/

.block_point_view.reactions-container .reactionnb {
    margin-left: 7px;
    margin-right: 12px;
    vertical-align: sub;
}

.block_point_view.reactions-container .reactionnb:not(.shown) {
    visibility: hidden;
}

.block_point_view.reactions-container .reaction {
    height: 20px;
    width: 20px;
}

.block_point_view.reactions-container .reaction img {
    position: absolute;
    top: 15px;
    left: 10px;
    height: 0;
    cursor: pointer;
}

.block_point_view.reactions-container .reaction img.novote:not(:hover) {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.block_point_view.reactions-container .group_img {
    height: 20px;
    position: relative;
    cursor: pointer;
}

.block_point_view.reactions-container .group_nb {
    width: 1.1em;
    height: 1.1em;
    display: inline-block;
    text-align: center;
    vertical-align: sub;
}

.block_point_view.reactions-container .group_nb.voted {
    border-radius: 50%;
    color: white;
    background: #66ad89;
    line-height: 1em;
}

.block_point_view.reactions-container .group_nb.novote {
    visibility: hidden;
}

.block_point_view.reactions-container .group_nb span {
    position: relative;
    display: inline-block;
}

.block_point_view.reactions-container .nbselected {
    font-weight: bold;
    color: #5585B6;
}

/* Difficulty tracks */
.block_point_view.track {
    height: 1.6em;
    width: 10px;
    border-radius: 10%;
    margin-right: 5px;
}

.path-course-view .activity .block_point_view.track {
    padding: 0;
    position: absolute;
    margin-left: -15px;
}

.path-course-view .activity .block_point_view.track,
.path-course-view .activity .block_point_view.track + * {
    display: inline-block;
}

.block_point_view.selecttrack {
    height: 2.4em;
    position: relative;
}

/* Menu button in block content */
.block_point_view.overview-link {
    display: block;
    max-height: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.block_point_view.overview-link:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/* Emojis of overview table */
.block_point_view .overview_img {
    width: 30px;
    vertical-align: bottom;
    margin-right: .2em;
}

/** Colums of the overview table **/

/* Disable selection */
.block_point_view .c6 {
    font-weight: bold;
    font-size: 1.5em;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.block_point_view .c5,
.block_point_view .c6 {
    text-align: center;
}

.block_point_view .reactions-col,
.block_point_view .c6 {
    cursor: pointer;
}

.block_point_view .cell.novote {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.block_point_view .pix-preview {
    margin: .2em 0;
    width: 30px;
}

.block_point_view .section-header {
    padding-top: 1em;
}

.block_point_view .enable-disable button {
    margin-right: .3em;
}

.block_point_view .pixselectgroup .felement {
    display: grid;
    justify-content: start;
}

.block_point_view .pixselectgroup .felement>* {
    justify-content: start;
}

.block_point_view .pixselectgroup label:nth-of-type(2),
.block_point_view .pixselectgroup label:nth-of-type(2)~#delete_custom_pix {
    grid-row: 2;
}

.block_point_view .pixselectgroup label:nth-of-type(3),
.block_point_view .pixselectgroup label:nth-of-type(3)~#delete_custom_pix {
    grid-row: 3;
}
