/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    pointer-events: none;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    border-radius: 20px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 28px;
    left: 80px;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* source tooltip : https://www.w3schools.com/css/css_tooltip.asp */

.group {
  position: absolute;
  top: 3px;
  left: 480px;
}

.group_img {
  height: 20px;
  position: absolute;
}

.group_nb {
  position: absolute;
  top: 3px;
  left: 50px;
}

.reactions {
  position: absolute;
  left: 450px;
  top: 3px;
}

.easy {
  height: 0px;
  position: absolute;
  top: -7.5px;
  left: -10px;
  pointer-events: none;
}

.easy_nb {
  display: none;
  position: absolute;
  top: 3px;
  left: 5px;
}

.better {
  height: 0px;
  position: absolute;
  top: -7.5px;
  left: 35px;
  pointer-events: none;
}

.better_nb {
  display: none;
  position: absolute;
  top: 3px;
  left: 55px;
}

.hard {
  height: 0px;
  position: absolute;
  top: -7.5px;
  left: 80px;
  pointer-events: none;
}

.hard_nb {
  display: none;
  position: absolute;
  top: 3px;
  left: 102px;
}
